rdkit==2023.09.5 
# Core Scientific Libraries
numpy<2.0
pandas
matplotlib
seaborn

# ChEMBL Client for Empirical Binding
chembl_webresource_client

# GTEx Expression Filtering
tspex

# Web & Utility
requests

# Optional for dashboard (Task 7)
streamlit

# Compatibility
pybind11>=2.12
